WemosLearningRemote_NodeRedFlow.json
[{"id":"2be6c785.a74648","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - insert","collection":"ircodes","operation":"insert","x":709.6989898681641,"y":1483.2756414413452,"wires":[["a2c718ef.a9c9c8"]]},{"id":"2527327e.a737be","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - find","collection":"ircodes","operation":"find.toArray","x":514.0143508911133,"y":1410.5512657165527,"wires":[["60a49c3f.9a2174"]]},{"id":"e19eb60.f269248","type":"http in","z":"93eae0f0.10749","name":"addircode","url":"/addircode","method":"get","swaggerDoc":"","x":501.014347076416,"y":1483.551248550415,"wires":[["2be6c785.a74648"]]},{"id":"a2c718ef.a9c9c8","type":"http response","z":"93eae0f0.10749","name":"","x":951.0086784362793,"y":1409.6904668807983,"wires":[]},{"id":"defed9af.b7ed58","type":"http in","z":"93eae0f0.10749","name":"getircode","url":"/esp","method":"get","swaggerDoc":"","x":182.0143051147461,"y":1418.5512771606445,"wires":[["2527327e.a737be"]]},{"id":"60a49c3f.9a2174","type":"function","z":"93eae0f0.10749","name":"process","func":"var out = \"\";\nmsg.payload.forEach(function(item) {\n    out += item.key + \":\" + item.value + \"\\n\";\n});\n\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":690.6989898681641,"y":1411.039924621582,"wires":[["a2c718ef.a9c9c8"]]},{"id":"132b2e88.94e8f1","type":"http in","z":"93eae0f0.10749","name":"deleteallircodes","url":"/deleteallircodes","method":"get","swaggerDoc":"","x":187.01431274414062,"y":1362.5513372421265,"wires":[["5d15c523.9a75bc"]]},{"id":"5d15c523.9a75bc","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - drop","collection":"ircodes","operation":"drop","x":527.0143585205078,"y":1342.5513067245483,"wires":[["a2c718ef.a9c9c8"]]},{"id":"1b930edb.0b2781","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"{\"remote\" : \"Onkyo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160.6959991455078,"y":635.7839069366455,"wires":[["1a73560f.f3e00a"]]},{"id":"1a73560f.f3e00a","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload.indexOf(\"REMOTE\") === 0) {\n    var r = msg.payload.split(\" \")[1];\n    flow.set(\"REMOTE\", r);\n    node.status({\"text\": \"REMOTE : \" + flow.get(\"REMOTE\")});\n    return msg;\n} else return null;","outputs":"1","noerr":0,"x":382.6903305053711,"y":572.04518699646,"wires":[["be79b63f.4b48d8","acca3c72.c6d11"]]},{"id":"e585df4d.abb25","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"[{\"remote\": \"samsung\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":185.70179748535156,"y":1303.1508541107178,"wires":[["5d15c523.9a75bc"]]},{"id":"1edd8d81.a7a282","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"[{}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":182.698974609375,"y":1479.1508569717407,"wires":[["2527327e.a737be"]]},{"id":"f92d85a1.21bfe8","type":"http in","z":"93eae0f0.10749","name":"setremote","url":"/setremote","method":"get","swaggerDoc":"","x":154.01441192626953,"y":574.1873188018799,"wires":[["1a73560f.f3e00a"]]},{"id":"4ee0067c.a167a8","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"{\"key\" : \"3_5EA17986\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":177.69585418701172,"y":175.42051219940186,"wires":[["ad147824.28f318"]]},{"id":"ad147824.28f318","type":"function","z":"93eae0f0.10749","name":"","func":"flow.set(\"KEY\",msg.payload.key );\nnode.status({\"text\": \"KEY : \" + flow.get(\"KEY\")});\nreturn msg;\n","outputs":"1","noerr":0,"x":389.690185546875,"y":111.68179225921631,"wires":[["a2badaa0.3a4758","be79b63f.4b48d8","acca3c72.c6d11"]]},{"id":"2e20e8b6.1774e8","type":"http in","z":"93eae0f0.10749","name":"setkey","url":"/setkey","method":"get","swaggerDoc":"","x":147.01407623291016,"y":106.8239221572876,"wires":[["ad147824.28f318"]]},{"id":"8ddd8fa3.09c89","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"{\"value\" : \"2_C00059\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":180.69585418701172,"y":316.42051219940186,"wires":[["74027ead.16b8d"]]},{"id":"74027ead.16b8d","type":"function","z":"93eae0f0.10749","name":"","func":"flow.set(\"VALUE\",msg.payload.value );\nnode.status({\"text\": \"VALUE : \" + flow.get(\"VALUE\")});\nreturn msg;\n","outputs":"1","noerr":0,"x":392.690185546875,"y":252.6817922592163,"wires":[["ba56533b.ec4de","be79b63f.4b48d8","acca3c72.c6d11"]]},{"id":"d08ba0b9.7ed6","type":"http in","z":"93eae0f0.10749","name":"setvalue","url":"/setvalue","method":"get","swaggerDoc":"","x":160.01407623291016,"y":247.8239221572876,"wires":[["74027ead.16b8d"]]},{"id":"acca3c72.c6d11","type":"http response","z":"93eae0f0.10749","name":"","x":664.0143203735352,"y":400.1875252723694,"wires":[]},{"id":"43fe487a.eab058","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"{\"btnname\" : \"Power\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":174.69585418701172,"y":451.42051219940186,"wires":[["7f43a135.56ea8"]]},{"id":"7f43a135.56ea8","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload.indexOf(\"BTNNAME\") === 0) {\n    var b = msg.payload.split(\" \")[1];\n    flow.set(\"BTNNAME\", b);\n    node.status({\"text\": \"BTNNAME : \" + flow.get(\"BTNNAME\")});\n    return msg;\n} else return null;\n","outputs":"1","noerr":0,"x":386.690185546875,"y":387.6817922592163,"wires":[["acca3c72.c6d11","be79b63f.4b48d8"]]},{"id":"e0f2b6dc.b90a58","type":"http in","z":"93eae0f0.10749","name":"setbtnname","url":"/setbtnname","method":"get","swaggerDoc":"","x":158.01408004760742,"y":408.8238706588745,"wires":[["7f43a135.56ea8"]]},{"id":"b9334661.39f528","type":"http in","z":"93eae0f0.10749","name":"saveir","url":"/saveir","method":"get","swaggerDoc":"","x":131.01416397094727,"y":846.9146957397461,"wires":[["3b7f1987.1be756"]]},{"id":"eac919e1.8ff208","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - updateOne","collection":"ircodes","operation":"update","x":934.0142059326172,"y":837.914981842041,"wires":[["5004e74e.723418"]]},{"id":"3b7f1987.1be756","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload == \"SAVE\") {\n    msg.payload = [{\"key\": flow.get(\"KEY\")}];\n    return msg;\n} else return null;","outputs":1,"noerr":0,"x":332.6987991333008,"y":903.4003973007202,"wires":[["ffb5d6cf.d54098"]]},{"id":"5004e74e.723418","type":"http response","z":"93eae0f0.10749","name":"","x":1150.0144500732422,"y":835.9146013259888,"wires":[]},{"id":"7dc6aaf6.48ada4","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.69313049316406,"y":905.1561822891235,"wires":[["3b7f1987.1be756"]]},{"id":"a3c7d1e4.cc914","type":"http in","z":"93eae0f0.10749","name":"getmapping","url":"/getmapping","method":"get","swaggerDoc":"","x":160.01428985595703,"y":1081.0058221817017,"wires":[["172bf9a0.971976"]]},{"id":"744f8b63.54d7b4","type":"inject","z":"93eae0f0.10749","name":"","topic":"","payload":"{\"key\" : \"3_5EA17986\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":201.69597625732422,"y":1142.6022176742554,"wires":[["172bf9a0.971976"]]},{"id":"9c121e6a.2721e","type":"http response","z":"93eae0f0.10749","name":"","x":799.0142631530762,"y":1140.3692378997803,"wires":[]},{"id":"172bf9a0.971976","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - findOne","collection":"ircodes","operation":"findOne","x":446.01422119140625,"y":1141.732943534851,"wires":[["3bb1a805.98cbe8"]]},{"id":"3bb1a805.98cbe8","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload && msg.payload.value) msg.payload = msg.payload.value;\nelse msg.payload = \"NA\";\nreturn msg;","outputs":1,"noerr":0,"x":634.6986694335938,"y":1141.2272233963013,"wires":[["9c121e6a.2721e"]]},{"id":"ffb5d6cf.d54098","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - findOne","collection":"ircodes","operation":"findOne","x":522.0141830444336,"y":904.732855796814,"wires":[["c6bce6db.ba00c8"]]},{"id":"c6bce6db.ba00c8","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload) {\n    msg.payload[\"remote\"] = flow.get(\"REMOTE\");\n    msg.payload[\"btnname\"] = flow.get(\"BTNNAME\");\n    msg.payload[\"value\"] = flow.get(\"VALUE\");\n    msg.payload = [{\"_id\": msg.payload._id}, msg.payload];\n    return [msg, null, {payload: msg.payload.btnname}];\n}\nelse\n{\n    msg.payload = {\"remote\": flow.get(\"REMOTE\"), \"btnname\": flow.get(\"BTNNAME\"), \"key\": flow.get(\"KEY\"), \"value\": flow.get(\"VALUE\")};\n    return [null, msg, null];\n}","outputs":"3","noerr":0,"x":718.6987533569336,"y":905.2186670303345,"wires":[["eac919e1.8ff208","31c0622a.8d87be"],["16e0b430.42618c"],["1ecc29e4.7d6d26"]]},{"id":"16e0b430.42618c","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - insert","collection":"ircodes","operation":"insert","x":944.0142364501953,"y":915.278450012207,"wires":[["5004e74e.723418","31c0622a.8d87be"]]},{"id":"cda0250c.785f48","type":"mqtt in","z":"93eae0f0.10749","name":"saveir","topic":"ir_server/cmd","qos":"2","broker":"8e11e533.4d70e8","x":122.69596862792969,"y":963.4600763320923,"wires":[["3b7f1987.1be756"]]},{"id":"6774de09.81b18","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/ack","qos":"","retain":"","broker":"8e11e533.4d70e8","x":1319.6904945373535,"y":913.5994787216187,"wires":[]},{"id":"31c0622a.8d87be","type":"function","z":"93eae0f0.10749","name":"","func":"msg.payload = \"SAVED \" + JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1130.6934051513672,"y":913.7668972015381,"wires":[["6774de09.81b18"]]},{"id":"1ecc29e4.7d6d26","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/btn","qos":"","retain":"","broker":"8e11e533.4d70e8","x":945.0141906738281,"y":987.2784652709961,"wires":[]},{"id":"a2badaa0.3a4758","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - findOne","collection":"ircodes","operation":"findOne","x":714.0142936706543,"y":113.27858638763428,"wires":[["45dfc8b3.19ce08","e47ce9e0.7bfc78"]]},{"id":"45dfc8b3.19ce08","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload) {\n    msg.payload = msg.payload.remote + \":\" + msg.payload.btnname;\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":"1","noerr":0,"x":911.6987438201904,"y":116.76431846618652,"wires":[["20f63907.e19bd6"]]},{"id":"20f63907.e19bd6","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/btn","qos":"","retain":"","broker":"8e11e533.4d70e8","x":1088.0143280029297,"y":116.82404899597168,"wires":[]},{"id":"cfac8c2c.65c82","type":"mqtt in","z":"93eae0f0.10749","name":"setremote","topic":"ir_server/cmd","qos":"2","broker":"8e11e533.4d70e8","x":158.01435089111328,"y":510.914608001709,"wires":[["1a73560f.f3e00a"]]},{"id":"cd32ca8c.9a9508","type":"mqtt in","z":"93eae0f0.10749","name":"setbtnname","topic":"ir_server/cmd","qos":"2","broker":"8e11e533.4d70e8","x":161.01422500610352,"y":361.914813041687,"wires":[["7f43a135.56ea8"]]},{"id":"ba56533b.ec4de","type":"function","z":"93eae0f0.10749","name":"","func":"var k = msg.payload.value;\nmsg.payload = {};\nmsg.payload[\"key\"] = k;\nreturn msg;","outputs":1,"noerr":0,"x":608.6932067871094,"y":254.40627193450928,"wires":[["a2badaa0.3a4758"]]},{"id":"be79b63f.4b48d8","type":"function","z":"93eae0f0.10749","name":"","func":"msg.payload = \"What will be saved:   [\" + flow.get(\"REMOTE\") + \" \" + flow.get(\"BTNNAME\") + \" \" + flow.get(\"KEY\") + \" \" + flow.get(\"VALUE\") + \"]\";\nreturn msg;","outputs":1,"noerr":0,"x":663.696044921875,"y":715.7669820785522,"wires":[["c2a0ca2.b67e438"]]},{"id":"c2a0ca2.b67e438","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/ack","qos":"","retain":"","broker":"8e11e533.4d70e8","x":862.0143051147461,"y":716.4601125717163,"wires":[]},{"id":"e47ce9e0.7bfc78","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload) {\n    flow.set(\"LAST_PRESSED_BUTTON\", msg.payload.key);\n    node.status({text: \"LP_BTN: \" + msg.payload.key});\n    msg.payload = \"Pressed Button in DB: [\" + msg.payload.remote + \" \" + msg.payload.btnname + \" \" + msg.payload.key + \" \" + msg.payload.value + \"]  (Can be deleted)\";\n}\nelse\n{\n    msg.payload = \"Pressed Button in DB: No entry in DB\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":919.0143280029297,"y":199.73297214508057,"wires":[["9771077b.83cef8"]]},{"id":"9771077b.83cef8","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/ack","qos":"","retain":"","broker":"8e11e533.4d70e8","x":1097.3301391601562,"y":197.7926788330078,"wires":[]},{"id":"3ef26347.502ebc","type":"http in","z":"93eae0f0.10749","name":"deleteircode","url":"/deleteircode","method":"get","swaggerDoc":"","x":179.0143928527832,"y":1607.8611011505127,"wires":[["b5b6b5cc.4eff48"]]},{"id":"efbe501f.0ac05","type":"mongodb2 in","z":"93eae0f0.10749","service":"_ext_","configNode":"4316e099.aa35d","name":"ircodes - remove","collection":"ircodes","operation":"remove","x":569.0144119262695,"y":1621.8611040115356,"wires":[["b4343ff2.41316","61d3fce1.e04ad4"]]},{"id":"b4343ff2.41316","type":"http response","z":"93eae0f0.10749","name":"","x":783.0088729858398,"y":1621.000326871872,"wires":[]},{"id":"a446d3b2.477d9","type":"mqtt in","z":"93eae0f0.10749","name":"deleteircode","topic":"ir_server/cmd","qos":"2","broker":"8e11e533.4d70e8","x":187.0144157409668,"y":1653.0059604644775,"wires":[["b5b6b5cc.4eff48"]]},{"id":"b5b6b5cc.4eff48","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload === \"DELETE\") {\n    msg.payload = {\"key\": flow.get(\"LAST_PRESSED_BUTTON\")};\n    return msg;\n} else return null;","outputs":1,"noerr":0,"x":379.6963081359863,"y":1622.3184518814087,"wires":[["efbe501f.0ac05"]]},{"id":"6584d476.06c8ec","type":"mqtt out","z":"93eae0f0.10749","name":"","topic":"ir_server/ack","qos":"","retain":"","broker":"8e11e533.4d70e8","x":780.014533996582,"y":1715.0059652328491,"wires":[]},{"id":"61d3fce1.e04ad4","type":"function","z":"93eae0f0.10749","name":"","func":"msg.payload = \"LAST PRESSED BUTTON DELETED\";\nreturn msg;","outputs":1,"noerr":0,"x":602.6989097595215,"y":1714.3212871551514,"wires":[["6584d476.06c8ec"]]},{"id":"ae2a4b3e.23def8","type":"mqtt in","z":"93eae0f0.10749","name":"ack","topic":"ir_server/ack","qos":"2","broker":"8e11e533.4d70e8","x":130.01421356201172,"y":714.9147901535034,"wires":[["7f4a095.e3f25f8"]]},{"id":"7f4a095.e3f25f8","type":"function","z":"93eae0f0.10749","name":"","func":"if(msg.payload == \"MODE set to VALUE\") {\n    flow.set(\"VALUE\", \"\");\n    return msg;\n} else return null;\n","outputs":1,"noerr":0,"x":289.6959991455078,"y":717.4090347290039,"wires":[["be79b63f.4b48d8"]]},{"id":"4316e099.aa35d","type":"mongodb2","z":"","uri":"mongodb://172.20.1.131:27017","name":"Mongo On SIAB","options":"","parallelism":"-1"},{"id":"8e11e533.4d70e8","type":"mqtt-broker","z":"","broker":"172.20.1.120","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
